{cover_enabled, true}.
{deps_dir,"deps"}.
{deps,[
      {rebar,{git,"git://github.com/rebar/rebar.git",{branch,"master"}}},
      {mochiweb,{git,"git://github.com/mochi/mochiweb.git",{branch,"master"}}},
      {emysql,{git,"git://github.com/jkvor/emysql",{branch,"master"}},[raw]},
      {excel_reader,{git,"git://github.com/MiroChiong/excel_reader",{branch,"master"}},[raw]},
      {erlang_protobuffs,{git,"git://github.com/basho/erlang_protobuffs",{branch,"master"}},[raw]},
      {gpb,{git,"https://github.com/tomas-abrahamsson/gpb",{branch,"master"}}},
      {esocket,{git,"git://github.com/yrashk/socket.io-erlang",{branch,"master"}},[raw]}
      ]}.
{erl_opts, [
  debug_info,
  warnings_as_errors,
  {outdir, "ebin"},
  {i, "src/3thlib/mochiweb/include"},
  {i, "src/3thlib/log4erl/include"},
  {i, "src/3thlib/mysql/include"},

  {i, "src/protos/include"},
  {i, "src/config/include"},
  {i, "src/db/include"},
  {i, "src/shared/include"},
  {i, "src/gate/include"},
  {i, "src/role/include"},
  {i, "src/vmap/include"},
  {i, "src/world/include"},
  {i, "src/web/include"},
  {i, "src/interface/include"}
]}.
{sub_dirs, ["rel"]}.
{proto_opts, [
              {compiler, gpb},
              {src_dirs, ["src"]}
             ]}.
